header h1 {
    background-color: #558C89;
    color: whitesmoke;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 50px;
    margin: 0px;
    border-top: 40px solid black;
}

footer h3 {
    background-color: #558C89;
    color: Lavender;
    font-family: "Times New Roman", Times, serif;
    font-size: 1vw;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
    margin-top: 300px;
}

form{
    max-width: 600px;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


fieldset{
    border: 1px solid gray;
    margin: 15px;
    border-radius: 5px;  
}

legend{
    color: gray;
    font-weight: bold;
    font-size: 20px;

}

h2{
    color: #D9853B;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 20px;
}

summary{
    color:white ;
    text-align: left;
    background-color: darkorange;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-top: 4px;
    cursor: pointer;
    display: block;
    
   

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px; 
}

input[type=submit] {
    background-color: #D9853B;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    display: inline;
    font-size: 18px;
    margin-left: 240px;



}

input[type=submit]:hover {
    opacity: 0.8;
}

.error {
    color: #FF0000;
}

#signup{
    color: #D9853B;
    letter-spacing: 1px;
    font-weight: bold;
}

.success {
    color: green;
}

.meals img{
    max-width: 200px;
    max-height: 200px;
}
table {

    border-collapse: collapse;

}

td {
    border: 0px;
    text-align: left;
    padding: 5px;
}

tr{
    
    margin-top: 2px;

}

.mealname{
    font-weight: bold;
}

.addbutton {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    cursor: pointer;
    
}

.addbutton:hover {
    background-color: #4CAF50;
    color: white;
}


.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    cursor: pointer;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}